@model hdj_home_work.Models.Info

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input name="Name" class="form-control" />
                <span name="nameMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input name="Email" class="form-control" />
                <span name="emailMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input name="Phone" class="form-control" />
                <span name="phoneMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" name="Submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
